.about {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 10px;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.about-png-image {
    width: 100%;
    max-width: 450px; /* Reduced from 600px to 400px */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Center the image on smaller screens */
    margin-right: -3px;
}

.about .aboutText {
    flex: 1;
    font-family: 'Inter', Arial, sans-serif;
    text-align: left;
    color: #333;
    max-width: 600px;
    width: 100%;
    margin-right: 25px;
}

.about .aboutText h1 {
    font-size: 28px;
    margin-bottom: 10px;
    margin-left: 50px;
    color: #0044cc;
}

.about .aboutText p {
    font-size: 16px;
    line-height: 1.6;
    margin-left: 50px;
    text-align: justify;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 0;
    max-width: 1000px;
    margin: 0 auto;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #000000;
}

.symbol {
    font-size: 16px;
    color: #000000;
}

.title {
    font-family: 'Times New Roman', serif;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.section-image img {
    max-width: 100%;
    height: auto;
}

.aboutPage-section {
    position: relative;
    background-color: #f2f8ff;
    padding: 20px 30px 30px 30px;
    border-radius: 20px;
    margin: 60px auto;
    max-width: 1200px;
}

@media (max-width: 768px) {
    .about .aboutText h1 {
        margin-left: 0;
        text-align: center;
    }

    .about .aboutText p {
        margin-left: 20px;
        text-align: justify;
    }

    .title-container {
        flex-direction: column;
        padding: 20px 0;
    }
    
    .symbol, .line {
        display: none;
    }

    .title {
        margin: 20px 0;
    }

    .aboutPage-section {
        padding: 20px;
        margin: 40px auto;
    }
}
