.hotel-page-section {
    display: flex;
    /* Enables Flexbox layout */
    align-items: flex-start;
    /* Aligns items vertically */
    gap: 80px;
    /* Adds space between the image and text */
    margin: 50px 100px;
    max-width: 1500px;
}

.hotel-image img {
    width: 500px;
    height: 320px;
    object-fit: cover;
    border-radius: 5px;
}

.hotel-description {
    flex: 1;
    font-family: 'Inter', Arial, sans-serif;
    text-align: left;
    color: #333;
    max-width: 900px;
}

.hotel-description h1 {
    margin: 0;
    /* Removes unnecessary margin */
    font-size: 28px;
    /* Adjust font size */
    line-height: 1;
    /* Reduces extra line height */
}

.hotel-description p {
    margin-top: 20px;
    /* Adds some space below the heading */
    font-size: 16px;
    /* Adjust font size */
    color: #555;
    text-align: justify;
}